// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$campaign-manager-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($campaign-manager-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($campaign-manager-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($campaign-manager-theme);

/* Start of custom global styles */

@import 'assets/styles/variables.scss';

html {
  font-size: 16px;
  background-color: var(--yellow);
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-body);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  margin: 0;
}

h1 {
  font-size: 60px;
  font-family: var(--font-fancy-header);
}

h2 {
  font-size: 36px;
  font-family: var(--font-monotype);
}

h3 {
  font-size: 24px;
  font-family: var(--font-monotype);
}

h4 {
  font-size: 20px;
  font-family: var(--font-monotype);
}

h5 {
  font-size: 18px;
  font-family: var(--font-monotype);
}

h6 {
  font-size: 16px;
  font-family: var(--font-monotype);
}

p {
  margin: 0;
}

main {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  > * {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
  }
}

button, .selector-button {
  font-family: var(--font-header);
  font-size: 24px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--yellow-100);
  }

  &:active {
    background-color: var(--black-100);
  }
}

.multi-button-selector {
  display: flex;
  flex-flow: column nowrap;

  & .nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
}


.campaign-content {
  display: flex;
  flex-flow: row nowrap;

  > * {
    border-top: 1px solid var(--black);
  }
  > *:first-child {
    flex: 1 1 65%;
  }
  > *:last-child {
    flex: 1 1 35%;
  }

  .map-container {
    border-right: 1px solid var(--black);
    overflow: hidden;
  }

  > .content-column {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 1rem;
  }
}

.room-content-list {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 0.5rem;

    >* {
      flex: 1 1 auto;
      padding-top: 4px;
    }

    &::before {
      content: '';
      display: block;
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      background-image: url('/assets/images/skull_black_large_icon.png');
      background-size:contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.warning-badge {
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 0;
  font-family: var(--font-monotype);
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.underline {
  text-decoration: underline;
  font-weight: 700;
}

.bold {
  font-family: var(--font-body);
  font-weight: 700;
}

.interaction {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-monotype);
  font-size: 16px;
}
